Makefile
.deps
.*~
aclocal.m4
autom4te.cache
compile
config.h
config.h.in.orig
config.log
config.status
doc/hebcal.info
doc/stamp-vti
doc/version.texi
doc/version.texi.orig
hebcal
hebcal.1
missing
package.m4
stamp-h1

# Editor files
*.sublime*
.*.swp


# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Test drivers compiled from source
tests/*.o
tests/hebcal-10
tests/sanity-check

# Test output files
tests/*.log
tests/*.trs
