c/.deps/
c/aclocal.m4
c/autom4te.cache
c/compile
c/config.h
c/config.h.in
c/config.log
c/config.status
c/depcomp
c/hebcal
c/hebcal.1
c/missing
c/stamp-gperf
c/stamp-h1
c/strings_*.c
c/strings_*.gperf
c/test-driver
c/translations.c
c/translations.h
c/Makefile

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
